<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <style>
        .check-detail {
            color: #60828b;
            border: none;
            background: transparent;
            height: 0;
            line-height: 0;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form layui-inline" action="">
                        <div class="layui-form-item layui-inline">
                            <div class="layui-input-block" style="margin-left: 0px;">
                                <select name="state" lay-verify="required" lay-filter="state">
                                    <option value="">全部状态</option>
                                    <option value="ZT01">待审核</option>
                                    <option value="ZT02">已通过</option>
                                    <option value="ZT03">已拒绝</option>
                                    <option value="ZT04">已反馈</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline">
                            <div class="layui-input-block" style="margin-left: 0px;">
                                <select name="time" lay-verify="required" lay-filter="time">
                                    <option value="">全部</option>
                                    <option value="24">24小时之内</option>
                                    <option value="48">48小时之内</option>
                                    <option value="72">72小时之内</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item layui-inline " style="color: #60828b;width: auto">
                            <div class="layui-input-block">
                                <button type="button" id="applyNew" style="border: none;padding: 0;color: #60828b"
                                        class="layui-btn layui-btn-primary">
                                    <i class="layui-icon layui-icon-add-1"></i>申请新流程
                                </button>
                            </div>
                        </div>
                    </form>
                    <table class="layui-hide" id="test-table-cellEdit" lay-filter="test-table-cellEdit"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="check" lay-text="详情" ></i>查看</a>
</script>
<script src="/app.js"></script>
<script src="/layuiadmin/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var table = layui.table, form = layui.form, $ = layui.jquery;
        var url = window.url;
        var uid = localStorage.getItem('uid');
        getPwd("","");
        var cgl1 = "", cgl2 = "";
        form.on('select(state)', function (data) {
            cgl1 = data.value;
            console.log("cgl1=" + cgl1, "cgl2=" + cgl2);
            getPwd(cgl1, cgl2);
        });
        form.on('select(time)', function (data) {
            cgl2 = data.value;
            console.log("cgl1=" + cgl1, "cgl2=" + cgl2);
            getPwd(cgl1, cgl2);
        });
        table.on('tool(test-table-cellEdit)',function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            console.log(data);
            if (layEvent === 'check') {
                parent.layui.index.openTabsPage("html/detail?id="+data.iid+"&type="+"psd","详情");
            }
        });
        $("#applyNew").click(function () {
            parent.layui.index.openTabsPage('form/pwdApply', '申请');
        });

        function getPwd(cgl1,cgl2) {
            var arr = {
                "code":"1016",
                "key":uid,
                "cgl1": cgl1,
                "cgl2": cgl2
            };
            arr = JSON.stringify(arr);
            $.ajax({
                url:url,
                data:arr,
                headers:{
                    "Content-Type": "application/json"
                },
                async:false,
                type:"post",
                success:function (res) {
                    res = JSON.parse(res);
                    console.log(res);
                    if (res.flag === 'OK') {
                        if (res.items.length !== 0) {
                            for (var i = 0; i < res.items.length; i++) {
                                if (res.items[i].itype === 1) {
                                    res.items[i].itype = '一卡通'
                                } else {
                                    res.items[i].itype = '邮箱'
                                }
                                if (res.items[i].czt === 'ZT01') {
                                    res.items[i].czt = '待审核'
                                } else if (res.items[i].czt === 'ZT02') {
                                    res.items[i].czt = '已通过'
                                } else if (res.items[i].czt === 'ZT03') {
                                    res.items[i].czt = '已拒绝'
                                } else {
                                    res.items[i].czt = '已反馈'
                                }
                            }
                        }
                                table.render({
                                    elem: '#test-table-cellEdit'
                                    , skin: 'line' //表格风格
                                    , even: true
                                    , page: true //是否显示分页
                                    , limits: [10, 20, 30]
                                    , limit: 10 //每页默认显示的数量
                                    , cols: [
                                        [ //标题栏
                                            {field: 'iid', title: 'ID', sort: true, align: 'center'}
                                            , {field: 'cxm', title: '姓名', align: 'center'}
                                            , {field: 'cxh', title: '学号', align: 'center'}
                                            , {field: 'cuser', title: '账号', align: 'center'}
                                            , {field: 'itype', title: '修改类型', align: 'center'}
                                            , {field: 'bz', title: '备注', align: 'center'}
                                            , {field: 'czt', title: '状态', align: 'center'}
                                            , { fixed: 'right', title: "操作", width: 200,align: 'center',toolbar: '#barDemo' }
                                        ]
                                    ]
                                    , data: res.items
                                });
                    }else {
                        layer.msg(res.msg);
                        if (res.msg === '登录失效！') {
                            location.href = '../index';
                        }
                    }

                }
            })
        }
    });
</script>

</body>
</html>